.light {
	--primary: rgb(76 102 43);
	--surface-tint: rgb(76 102 43);
	--on-primary: rgb(255 255 255);
	--primary-container: rgb(205 237 163);
	--on-primary-container: rgb(53 78 22);
	--secondary: rgb(88 98 73);
	--on-secondary: rgb(255 255 255);
	--secondary-container: rgb(220 231 200);
	--on-secondary-container: rgb(64 74 51);
	--tertiary: rgb(56 102 99);
	--on-tertiary: rgb(255 255 255);
	--tertiary-container: rgb(188 236 231);
	--on-tertiary-container: rgb(31 78 75);
	--error: rgb(186 26 26);
	--on-error: rgb(255 255 255);
	--error-container: rgb(255 218 214);
	--on-error-container: rgb(147 0 10);
	--background: rgb(252 248 248);
	--on-background: rgb(28 27 27);
	--surface: rgb(252 248 248);
	--on-surface: rgb(28 27 27);
	--surface-variant: rgb(224 227 227);
	--on-surface-variant: rgb(68 71 72);
	--outline: rgb(116 120 120);
	--outline-variant: rgb(196 199 200);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(49 48 48);
	--inverse-on-surface: rgb(244 240 239);
	--inverse-primary: rgb(198 198 199);
	--primary-fixed: rgb(226 226 226);
	--on-primary-fixed: rgb(26 28 28);
	--primary-fixed-dim: rgb(198 198 199);
	--on-primary-fixed-variant: rgb(69 71 71);
	--secondary-fixed: rgb(228 226 226);
	--on-secondary-fixed: rgb(27 28 28);
	--secondary-fixed-dim: rgb(200 198 198);
	--on-secondary-fixed-variant: rgb(71 71 71);
	--tertiary-fixed: rgb(226 226 226);
	--on-tertiary-fixed: rgb(26 28 28);
	--tertiary-fixed-dim: rgb(198 198 199);
	--on-tertiary-fixed-variant: rgb(69 71 71);
	--surface-dim: rgb(221 217 217);
	--surface-bright: rgb(252 248 248);
	--surface-container-lowest: rgb(255 255 255);
	--surface-container-low: rgb(246 243 242);
	--surface-container: rgb(241 237 236);
	--surface-container-high: rgb(235 231 231);
	--surface-container-highest: rgb(229 226 225);
}

.dark {
	--primary: rgb(177 209 138);
	--surface-tint: rgb(177 209 138);
	--on-primary: rgb(31 55 1);
	--primary-container: rgb(53 78 22);
	--on-primary-container: rgb(205 237 163);
	--secondary: rgb(191 203 173);
	--on-secondary: rgb(42 51 30);
	--secondary-container: rgb(64 74 51);
	--on-secondary-container: rgb(220 231 200);
	--tertiary: rgb(160 208 203);
	--on-tertiary: rgb(0 55 53);
	--tertiary-container: rgb(31 78 75);
	--on-tertiary-container: rgb(188 236 231);
	--error: rgb(255 180 171);
	--on-error: rgb(105 0 5);
	--error-container: rgb(147 0 10);
	--on-error-container: rgb(255 218 214);
	--background: rgb(20 19 19);
	--on-background: rgb(229 226 225);
	--surface: rgb(20 19 19);
	--on-surface: rgb(229 226 225);
	--surface-variant: rgb(68 71 72);
	--on-surface-variant: rgb(196 199 200);
	--outline: rgb(142 145 146);
	--outline-variant: rgb(68 71 72);
	--shadow: rgb(0 0 0);
	--scrim: rgb(0 0 0);
	--inverse-surface: rgb(229 226 225);
	--inverse-on-surface: rgb(49 48 48);
	--inverse-primary: rgb(93 95 95);
	--primary-fixed: rgb(226 226 226);
	--on-primary-fixed: rgb(26 28 28);
	--primary-fixed-dim: rgb(198 198 199);
	--on-primary-fixed-variant: rgb(69 71 71);
	--secondary-fixed: rgb(228 226 226);
	--on-secondary-fixed: rgb(27 28 28);
	--secondary-fixed-dim: rgb(200 198 198);
	--on-secondary-fixed-variant: rgb(71 71 71);
	--tertiary-fixed: rgb(226 226 226);
	--on-tertiary-fixed: rgb(26 28 28);
	--tertiary-fixed-dim: rgb(198 198 199);
	--on-tertiary-fixed-variant: rgb(69 71 71);
	--surface-dim: rgb(20 19 19);
	--surface-bright: rgb(58 57 57);
	--surface-container-lowest: rgb(14 14 14);
	--surface-container-low: rgb(28 27 27);
	--surface-container: rgb(32 31 31);
	--surface-container-high: rgb(42 42 42);
	--surface-container-highest: rgb(53 52 52);
}

* {
	box-sizing: border-box;
}

html,
body {
	position: absolute;
	width: 100%;
	height: 100%;
	font-family:
		'Noto Sans',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Helvetica Neue',
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	box-sizing: border-box;
	color: var(--on-surface);
	background-color: var(--surface-dim);
	margin: 0;
	padding: 0;
	overscroll-behavior: none;
	touch-action: manipulation;
}

a {
	color: inherit;
	text-decoration: none;
}

label {
	display: block;
}

input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 8px 0;
	padding: 8px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
	outline: none;
	font-family: inherit;
}

button {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	cursor: pointer;
	color: var(--text-1);
	font-family: inherit;
	background-color: transparent;
}

.shadow-small {
	box-shadow:
		0 0 4px 2px rgba(0, 0, 0, 0.2),
		0 3px 6px rgba(0, 0, 0, 0.3);
}

.shadow-medium {
	box-shadow:
		0 10px 20px 3px rgba(0, 0, 0, 0.2),
		0 6px 10px rgba(0, 0, 0, 0.3);
}

.shadow-large {
	box-shadow:
		0 19px 38px 6px rgba(0, 0, 0, 0.2),
		0 10px 16px rgba(0, 0, 0, 0.3);
}

.blur-background {
	background: rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

.blur-card {
	background: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
}

.truncate-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.grow {
	flex-grow: 1;
}